body {
  background: #1e1e1e;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding-top: 30px;
}

.titulo {
  margin-bottom: 20px;
  font-size: 32px;
}

.tablero {
  display: grid;
  margin: 0 auto;
  width: fit-content;
  border: 3px solid #fff;
}

.celda {
  width: 40px;
  height: 40px;
  background: #333;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  color: white;
}

.celda.revelada {
  background: #888;
}

.celda.bomba {
  background: red;
}

.celda.flag {
  background: rgb(57, 65, 126);
}